<!--/*

  ADOBE CONFIDENTIAL
  __________________

   Copyright 2014 Adobe Systems Incorporated
   All Rights Reserved.

  NOTICE:  All information contained herein is, and remains
  the property of Adobe Systems Incorporated and its suppliers,
  if any.  The intellectual and technical concepts contained
  herein are proprietary to Adobe Systems Incorporated and its
  suppliers and are protected by trade secret or copyright law.
  Dissemination of this information or reproduction of this material
  is strictly forbidden unless prior written permission is obtained
  from Adobe Systems Incorporated.

  Text & Image component
  Re-uses the existing Text and Image sightly components
*/-->
<div data-sly-use.textImage="textimage.js"
     data-sly-use.emptyRenderer="emptytextimage.html"
     data-sly-call="${emptyRenderer.emptyTextImageTemplate @ textImage=textImage}" data-sly-unwrap></div>
<div class="agenda">
<div class="holder">
		<div class="left">
        	<div id="${textImage.uuid}" class="textimage-row row full-row">
		 		<div class="textimage-${textImage.alignment == 'overlap'? 'none':textImage.alignment}"
            	data-sly-test="${textImage.hasContent}"
            	data-sly-resource="${'image' @ resourceType='wcm/foundation/components/image', wcmmode='disabled'}"></div>
			</div>
        </div>
		<div class="right">
		<h3>${textImage.agendatitle} </h3>
        <h5>presented by ${textImage.agendaspeakername} </h5>
        <div
            data-sly-test="${textImage.hasContent && textImage.alignment!='bottom'}"
            style="color: ${textImage.textColor @ context='styleToken'}; left: ${textImage.left @ context='styleToken'}; top: ${textImage.top @ context='styleToken'}"
            class="agendaimage-text agendaimage-${textImage.alignment || 'left'}"
            data-sly-resource="${'.' @ resourceType='wcm/foundation/components/text', wcmmode='disabled'}"></div>
		</div>
	<div class="clear"></div>
	</div>
</div>


